section {
	border-radius: 30px;
	border-color: #c9cacc;
	padding: 20px 70px;
	margin: 15px 200px;
	border-width: 1px;
	border-style: solid;
	font-family: "Roboto", sans-serif;
	color: white;
	background-image: linear-gradient(120deg, #1ba8f1 0%, #1ba8f1 100%);
}

.card-title {
	font-weight: bold;
	font-size: 70px;
	text-align: left;
	text-transform: capitalize;
}

p {
	font-size: 30px;
	text-align: left;
}

.card {
	padding: 20px;
	background: white;
	border-color: white;
	color: black;
}

.card-text {
	font-weight: bold;
	font-size: 50px;
}

.col-12 {
	margin-top: 100px;
	font-size: 40px;
}

.col {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.fa-cloud-sun {
	font-size: 80px;
}

i {
	font-size: 40px;
}

.btn {
	margin-left: 10px;
}

.btn-primary {
	background: #c9cacc;
	border-color: #c9cacc;
}

button {
	padding: 5px 10px;
	margin-top: 50px;
	color: black;
	border-width: 1px;
	border-radius: 30px;
	box-shadow: 0px;
}

#footer {
	text-align: center;
	font-size: 15px;
}

#temperature_units {
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
}
